@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

*::-moz-selection {
    background-color: #444343;
    color: #8f3d3d;
  }

*::selection {
    background-color: #444343;
    color: #8f3d3d;
  }
  
/*----------------------------------------Pagina Inicial---------------------------------------------------*/

video {
    position: fixed;
    min-width: 100vh;
    min-height: 100vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.menu-entrada {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .7fr 1fr;
    grid-template-areas:
    "titulo     titulo  titulo  titulo"
    "productos giftcard nosotros contacto";

}    

.titulo-inicio {
    grid-area: titulo;
    font-family: 'PT Serif', serif;
    letter-spacing: 1rem;
    font-style: oblique;
    border: 1px solid grey;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 100px 80px inset grey;
    border-radius: 1rem;
}


.titulo-marca{
    font-size: 5rem;
    color: #000000a6;
    animation:text-pop-up-left 3s cubic-bezier(.25,.46,.45,.94) infinite alternate both}
    @keyframes text-pop-up-left{0%{transform:translateX(0);transform-origin:50% 50%;text-shadow:none}100%{transform:translateX(-50px);transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}

.productos {
    grid-area: productos;
    background-image: url(../image/productos.png);
    background-position: 10px;
    background-position:center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.giftcard {
    grid-area: giftcard;
    background-image: url(../image/giftcard.png);
    background-position: 10px;
    background-position:center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.nosotros {
    grid-area: nosotros;
    background-image: url(../image/nosotros.png);
    background-position: 10px;
    background-position:center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.contacto {
    grid-area: contacto;
    background-image: url(../image/contacto.png);
    background-position: 10px;
    background-position:center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.menu-item {
    color: #000000;
    background-color: rgb(129 129 129 / 37%);
    border-left: 6px solid #ffffff;
    border-top: 14px solid #8f8f8f;
    border-bottom: 1px solid white;
    box-shadow: 0 7px 10px 10px rgb(0 0 0);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yatra One', cursive;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .3rem;
}

.menu-item:hover {
    transform: translateY(-20px);
    transition: .6s;
}

/*----------------------------------------Menu Navegacion---------------------------------------------------*/

body {
    background: linear-gradient(
        90deg,
        rgb(0, 0, 0) 25%,
        rgb(25, 25, 26) 73%);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.back {
    background-color: #000000bf;
    padding: 32px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 45px;
    font-family: 'PT Serif', serif;
    color: white;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    gap: 1rem;
}

.simbolo {
    font-size: 35px;
    font-family: 'PT Serif', serif;
}

.img-logo {
    width: 18%;
    border-radius: 50%;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    text-transform: uppercase;
}

.menu .navbar ul li a {
    font-size: 12px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    padding: 6px 27px;
    color: wheat;
    display: block;
    letter-spacing: .1rem;
    transition: .5s;
}

.menu .navbar ul li a:hover {
    color: rgba(243, 189, 189, 0.856);
}

.navbar .active {
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 15px;
}

.navbar a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    transition: .5s;
}

.navbar a:hover span {
    transform: scale(1) translateY(0);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/*-------------------------------------------SECCION PRODUCTOS----------------------------------------------------*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "galeriabuzo    buzos"
        "oversize       galeriaover"
        "galeriaremera  remeras";
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn-buzo-jo {
    top: 40%;
    left: 150%;
    width: 6em;
    position: relative;
    height: 3em;
    border: 3px ridge #856d6e;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 1em;
    font-size: 16px;
    font-weight: bold;
}
  
  .btn-buzo-jo::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #19191a;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .btn-buzo-jo::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #19191a;
    transition: 0.5s;
  }
  
  .btn-buzo-jo:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  .btn-buzo-jo:hover {
    box-shadow: inset 0px 0px 25px #856d6e;
  }

.btn-over {
    top: 45%;
    left: -55%;
    width: 6em;
    position: relative;
    height: 3em;
    border: 3px ridge #856d6e;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 1em;
    font-size: 16px;
    font-weight: bold;
}

.reme {
    top: 30%;
    left: 140%;
}
  
.btn-over::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
    transform-origin: center;
  }
  
.btn-over::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
  }
  
.btn-over:hover::before, button:hover::after {
    transform: scale(0)
  }
  
.btn-over:hover {
    box-shadow: inset 0px 0px 25px #856d6e;
  }

  .blank {
    color: white;
  }

.buzos {
    grid-area: buzos;
    color: #bb9797ab;
    font-size: 120px;
    text-shadow: -20px 30px 15px #898585;
    padding-left: 4rem;
    padding-top: 15rem;
}

.galeria-buzos {
    grid-area: galeriabuzo;
    width: 600px;
    margin-top: 100px;
    padding: 0; 
    height: 150px;
    position: absolute;
    top: 38%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.galeria-buzos > a {
    display: block;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(8, 8, 8);
    width: 200px;
    height: 200px;
    margin: -100px;
    transform: rotate(45deg);
    transition: .5s;
}

.galeria-buzos img {
    width: 100%;
    vertical-align: top;
    object-fit:cover;
    object-position:top;
    transition: transform 0.5s;
}

.galeria-buzos a:hover img {
    filter: blur(1.5px);
    transform: rotate(-20deg) scale(1.3);
}

.galeria-buzos .item1 {
    top: 0;
    left: 0;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-buzos .item2 {
    bottom: 0;
    left: 25%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-buzos .item3 {
    top: 0;
    left: 50%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-buzos .item4 {
    top: 200%;
    left: 50%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-buzos .item5 {
    bottom: 0;
    left: 75%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-buzos .item6 {
    top: 200%;
    left: 0;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-buzos .item7 {
    top: 0;
    left: 100%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-buzos .item8 {
    top: 200%;
    left: 100%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-buzos .bg {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(1.42);
}

.oversize {
    grid-area: oversize;
    color: #bb9797ab;
    font-size: 120px;
    text-shadow: 80px 30px 15px #898585;
    padding-top: 19rem;
}

.galeria-over {
    grid-area: galeriaover;
    width: 600px;
    margin-top: 100px;
    padding: 0;
    height: 150px;
    position: absolute;
    top: 140%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.galeria-over > a {
    display: block;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(8, 8, 8);
    width: 200px;
    height: 200px;
    margin: -100px;
    transform: rotate(45deg);
    transition: .5s;
}

.galeria-over img {
    width: 100%;
    vertical-align: top;
    object-fit:cover;
    object-position:top;
    transition: transform 0.5s;
}

.galeria-over a:hover img {
    filter: blur(1.5px);
    transform: rotate(-20deg) scale(1.3);
}

.galeria-over .item9 {
    top: 0;
    left: 0;
    border-radius: 30% 10% 10% 30%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-over .item10 {
    bottom: 0;
    left: 25%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-over .item11 {
    top: 0;
    left: 50%;
    border-radius: 30% 30% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-over .item12 {
    top: 200%;
    left: 50%;
    border-radius: 10% 30% 30% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-over .item13 {
    top: 200%;
    left: 0;
    border-radius: 10% 10% 30% 30%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-over .bg {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(1.42);
}

.remeras {
    grid-area: remeras;
    color: #bb9797ab;
    font-size: 120px;
    text-shadow: -30px 30px 15px #898585;
    padding-top: 30rem;
}

.galeria-remeras {
    grid-area: galeriaremera;
    width: 600px;
    margin-top: 100px;
    padding: 0;
    height: 150px;
    position: absolute;
    top: 235%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.galeria-remeras > a {
    display: block;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(8, 8, 8);
    width: 200px;
    height: 200px;
    margin: -100px;
    transform: rotate(45deg);
    transition: .5s;
}

.galeria-remeras img {
    width: 100%;
    vertical-align: top;
    object-fit:cover;
    object-position:top;
    transition: transform 0.5s;
}

.galeria-remeras a:hover img {
    filter: blur(1.5px);
    transform: rotate(-20deg) scale(1.3);
}

.galeria-remeras .item14 {
    top: 0;
    left: 0;
    border-radius: 30% 10% 10% 30%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-remeras .item15 {
    bottom: 0;
    left: 25%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-remeras .item16 {
    top: 0;
    left: 50%;
    border-radius: 30% 10% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-remeras .item17 {
    top: 100%;
    left: 75%;
    border-radius: 10% 10% 30% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-remeras .item18 {
    top: 0;
    left: 100%;
    border-radius: 30% 30% 10% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-remeras .item19 {
    top: 200%;
    left: 50%;
    border-radius: 10% 10% 30% 10%;
    box-shadow: 5px 5px 10px 1px grey;
}

.galeria-remeras .bg {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(1.42);
}


/* -------------EFECTO IMAGENES-------------- */
.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.568);
    transition: transform .5s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    width: 70vw;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 100%;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: white;
    color: black;
    text-decoration: none;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px rgb(94, 89, 89);
}

.next {
    display: block;
    background: white;
    color: black;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 40%;
    box-shadow: 0 0 6px 2px rgb(94, 89, 89);
}

/*----------------------------------------------SECCION PRODUCTOS----------------------------------------------------*/

.conteiner__giftcard {
    padding-top: 4rem;
    padding-inline: 5rem;
    margin-top: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.titulo__gifcard {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .5rem;
    text-decoration: underline 1px solid white;
    font-size: 5rem;
    font-family: 'PT Serif', serif;
}

.parrafo {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: 'Yatra One', cursive;
    letter-spacing: .10rem;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid #000000;
    border-radius: 31px;
    box-shadow: 20px 20px 60px #695454, 11px 10px 15px 5px #ffffff;
    background-image: linear-gradient(99deg, rgb(93 92 92 / 0%), rgb(241 241 241 / 28%));
}


/*----------------------------------------------SECCION NOSOTROS----------------------------------------------------*/

.conteiner__nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.titulo__nosotros {
    color: white;
    text-decoration: underline 1px solid white;
    font-size: 5rem;
    font-family: 'PT Serif', serif;
}
        
.img__nosotros {
    filter: contrast(60%);
    border-radius: 25%;
    width: 1000px;
}

.contenido__principal {
    padding-top: 5rem;
    padding-inline: 14rem;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Yatra One', cursive;
}

/*----------------------------------------------SECCION CONTACTO----------------------------------------------------*/

.form__contacto {
    display: flex;
    text-align: center;
    margin-top: 3rem;
}

.contact {
    width: 50%;
}

.InfoContacto {
    color: white;
    padding: 6rem 5rem;
}

.contact h2 {
    font-family: 'PT Serif', serif;
    font-size: 4rem;
}

.contact p {
    border-bottom: 1px solid white;
    padding: 0.5rem 0 1rem 0;
    font-family: 'Yatra One', cursive;
    font-weight: 800;
}

.formulario {
    width: 50%;
}

.formulario h2 {
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    color: white;
    text-align: start;
}

.InfoForm {
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.InfoForm .form-colum {
    border-radius: .3rem;
    border: 1px solid black;
}

.form-colum {
    height: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8rem;
    padding-left: .5rem;
}

.btn {
    width: max-content;
    background-color: #252424;
    color: white;
    border: 1px solid white;
    font-size: 0.9rem;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    text-transform: uppercase;
}


/*----------------------------------------------------FOOTER----------------------------------------------------------*/

.ft-prod {
    margin-top: 15rem;
}

.footer-principal {
    margin-top: 5rem;
}

.ft-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem;
    gap: 10rem;
    border-top: 1px solid #413d3d;
    padding-top: 6rem;
}

.ft-container .descripcion {
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.footer-secundario {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-inline: 0px;
    padding-block: 10px;
}

.footer-secundario .footer-menu {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-secundario .footer-menu a {
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
    padding-left: 10px;
}

.footer-secundario .redes li {
    display: inline-block;
}

.footer-secundario .redes a{
    padding: 10px;
}

.footer-secundario .redes a img {
    height: 25px;
}

.footer-pagos {
    padding: 5px;
    height: 40px;
    margin-bottom: 50px;
}

/*----------------------------------Media Quaries Barra de Navegacion---------------------------------------------*/

@media screen and (max-width: 991px) {
    
/*--------First Mobile Pagina Inicio                        991px ------------*/ 
    
    .menu-entrada {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas:
        "titulo titulo"
        "productos giftcard"
        "nosotros contacto";
    }

    .titulo-marca {
        font-size: 3.5rem;
    }

/*--------First Mobile Barra Navegacion                     991px ------------*/
    .menu {
        padding-inline: 30px;
        padding-block: 15px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 47px 0;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #0a0a0a;
        display: none;
    }

    .navbar .active {
        border: none;
    }

    .navbar a span {
        border: none;
    }

    .menu .navbar ul li {
        width: 100%;
        padding-block: 1.5rem;
    }

    .menu .navbar ul li a {
        font-size: 25px
    }

    #menu:checked ~ .navbar {
        display: initial;
        height: 100vh;
        background: #000000e8;
        text-align: center;
        padding: 2rem;
    }

/*--------First Mobile Seccion Productos                        991px------------*/
    .grid {
        display: flex;
        flex-direction: column;
    }

    .buzos {
        padding-top: 1.5rem;
    }
    
    .galeria-buzos {
        top: 53%;
        left: 50%;
    }

    .btn-buzo-jo {
        top: 31rem;
        left: -40%;
    }

    .btn-buzo-jo::before {
        background-color: #020202;
    }

    .btn-buzo-jo::after {
        background-color: #030303;
    }

    .oversize {
        position: relative;
        top: 25rem;
    }
    
    .galeria-over {
        top: 180%;
        left: 65%;
    }

    .btn-over {
        top: 41rem;
        left: -30%;
    }

    .remeras {
        position: relative;
        top: 31rem;
    }

    .galeria-remeras {
        top: 305%;
        left: 50%;
    }

    .reme {
        top: 96rem;
        left: -30%;
    }

    .ft-prod {
        margin-top: 68rem;
    }

/*--------First Mobile Seccion GiftCard                        991px------------*/

    .conteiner__giftcard {
        padding-top: 5rem;
        padding-inline: 0rem;
        margin: 2rem 5rem;
    }

/*--------First Mobile Seccion Nosotros                        991px------------*/

    .img__nosotros {
        width: 873px;
    }

    .contenido__principal {
        padding-inline: 6rem;
    }
}

@media screen and (max-width: 772px) {

/*--------First Mobile Pagina Inicio                          772px------------*/

    .titulo-marca {
        font-size: 3.5rem;
        animation: none;
        color: white;
        text-shadow: 11px 9px 6px black;
        letter-spacing: .4rem;
    }

/*--------First Mobile Seccion Productos                        772px------------*/
    .galeria-buzos {
        width: 520px;
        height: 120px;
    }

    .galeria-buzos > a {
        width: 170px;
        height: 170px;
        margin: -85px;
    }

    .btn-buzo-jo {
        top: 44rem;
        left: -17%;
    }

    .btn-buzo-jo::before {
        background-color: #05050500;
    }

    .btn-buzo-jo::after {
        background-color: #05050500;
    }

    .oversize {
        font-size: 100px;
        top: 21rem;
    }

    .galeria-over {
        width: 520px;
        height: 120px;
        top: 165%;
    }

    .galeria-over > a {
        width: 170px;
        height: 170px;
        margin: -85px;
    }

    .btn-over {
        top: 33rem;
        left: 35%;
    }

    .btn-over::before {
        background-color: #05050500;
    }

    .btn-over::after {
        background-color: #05050500;
    }

    .remeras {
        top: 20rem;
    }

    .galeria-remeras {
        width: 520px;
        height: 120px;
        top: 275%;
    }

    .galeria-remeras > a {
        width: 170px;
        height: 170px;
        margin: -85px;
    }

    .reme {
        top: 84rem;
        left: -30%;
    }

    .ft-prod {
        margin-top: 54rem;
    }

    .ft-container {
        gap: 4rem;
    }

/*--------First Mobile Seccion Nosotros                        772px------------*/

    .img__nosotros {
        width: 680px;
    }

    .contenido__principal {
        padding-inline: 3rem;
    }

/*--------First Mobile Seccion Nosotros                        772px------------*/

    .contact h2 {
        font-size: 3rem;
    }

}

@media screen and (max-width: 580px) {

    /*--------First Mobile Pagina Inicio                          480px------------*/
 
    .menu-entrada {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "titulo"
            "productos"
            "giftcard"
            "nosotros"
            "contacto";
    }

    .titulo-marca {
        font-size: 2.5rem;
        letter-spacing: .1rem;
        text-shadow: 8px 8px 7px #d5cdcd;
    }

    .titulo-inicio {
        box-shadow: 1px 1px 100px 70px inset #2b2727;
    }

    .menu-item {
        color: white;
        border: none;
        box-shadow: inset -4px 2px 10px 0px rgb(249 234 234);
        border-radius: 4%;
    }

    /*--------First Mobile Seccion Productos                        480px------------*/

    .buzos {
        font-size: 50px;
        padding-top: 4.5rem;
        padding-left: 0;
    }

    .galeria-buzos {
        width: 302px;
        height: 100px;
        top: 35%;
        left: 58%;
    }

    .galeria-buzos > a {
        width: 110px;
        height: 109px;
        margin: -54px;
    }

    .galeria-buzos .item7 {
        top: 300%;
        left: 75%;
    }

    .galeria-buzos .item8 {
        top: 300%;
        left: 25%;
    }

    .btn-buzo-jo {
        top: 39rem;
        left: -8rem;
    }

    .oversize {
        font-size: 50px;
        text-shadow: 12px 20px 15px #898585;
        top: 15rem;
    }

    .galeria-over {
        width: 305px;
        height: 113px;
        top: 125%;
        left: 59%;
    }

    .galeria-over .item10 {
        bottom: 8%;
    }

    .galeria-over > a {
        width: 120px;
        height: 120px;
        margin: -64px;
    }
    
    .btn-over {
        top: 25rem;
        left: 29%;
    }

    .remeras {
        top: 4rem;
        font-size: 50px;
    }

    .galeria-remeras {
        width: 302px;
        height: 100px;
        top: 195%;
        left: 49%;
    }

    .galeria-remeras .item14 {
        top: 300%;
        left: 25%;
        border-radius: 10% 10% 30% 10%;
    }

    .galeria-remeras .item18 {
        top: 300%;
        left: 75%;
        border-radius: 10% 10% 30% 10%;
    }

    .galeria-remeras .item19 {
        border-radius: 10% 10% 10% 10%;
    }

    .galeria-remeras > a {
        width: 110px;
        height: 109px;
        margin: -54px;
    }

    .reme {
        top: 57rem;
        left: -8rem;
    }

    .ft-prod {
        margin-top: 36rem;
    }

    .ft-container {
        gap: 0rem;
    }

    .ft-container .imagen {
        margin-inline: 1.6rem;
        width: 5rem;
    }

    .ft-container .imagen {
        margin-inline: 1.6rem;
        width: 5rem;
    }

    .ft-container .descripcion {
        font-size: .6rem;
    }

/*--------First Mobile Seccion GiftCard                        480px------------*/
    .conteiner__giftcard {
        margin: 2rem 4.5rem;
    }

    .titulo__gifcard {
        font-size: 3rem;
        padding-top: 3rem;
    }

/*--------First Mobile Seccion Nosotros                        480px------------*/

    .titulo__nosotros {
        font-size: 3rem;
        padding-top: 3rem;
    }

    .img__nosotros {
        width: 375px;
    }

    .contenido__principal {
        padding-inline: 55px;
    }

/*--------First Mobile Seccion Contacto                        480px------------*/
    .form__contacto {
        flex-direction: column;
    }

    .contact {
        width: 100%;
    }

    .formulario {
        width: 100%;
    }

    .InfoForm {
        padding: 0rem 4rem;
    }


/*--------First Mobile FOOTER                        480px------------*/

    .footer-principal {
        margin-top: 8rem
    }

    .footer-lista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-secundario li > a {
        margin: 0;
        padding: 0;
        letter-spacing: .5rem;
    }

    .footer-pagos {
        padding: 1px;
        height: 25px;
    }

    
}