@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

*::-moz-selection {
    background-color: #444343;
    color: #8f3d3d;
  }

*::selection {
    background-color: #444343;
    color: #8f3d3d;
  }
  
/*----------------------------------------Pagina Inicial---------------------------------------------------*/




.menu-entrada {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .7fr 1fr;
    grid-template-areas:
    "titulo     titulo  titulo  titulo"
    "productos giftcard nosotros contacto";

}    

.titulo-inicio {
    grid-area: titulo;
    font-family: 'PT Serif', serif;
    letter-spacing: 1rem;
    font-style: oblique;
    border: 1px solid grey;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 1px 1px 100px 70px inset #2b2727;
    background: repeating-linear-gradient(35deg, black, #635e5ecf 100px);
}


.titulo-marca{
    font-size: 5rem;
    color: #000000a6;
    animation:text-pop-up-left 3s cubic-bezier(.25,.46,.45,.94) infinite alternate both}
    @keyframes text-pop-up-left{0%{transform:translateX(0);transform-origin:50% 50%;text-shadow:none}100%{transform:translateX(-50px);transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}

.productos {
    grid-area: productos;
}

.giftcard {
    grid-area: giftcard;
}

.nosotros {
    grid-area: nosotros;
}

.contacto {
    grid-area: contacto;
}

.menu-item {
    color: #000000;
    background-image: linear-gradient(53deg, black, #3530301a, black);
    border-left: 6px solid #ffffff;
    border-top: 14px solid #8f8f8f;
    border-bottom: 1px solid white;
    box-shadow: 0 7px 10px 10px rgb(0 0 0);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yatra One', cursive;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .7rem;
}

.menu-item:hover {
    transform: translateY(-20px);
    transition: .6s;
}

/*----------------------------------------Menu Navegacion---------------------------------------------------*/

.body-seccion {
    background: linear-gradient(
        90deg,
        rgb(0, 0, 0) 25%,
        rgb(25, 25, 26) 73%);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.back {
    background-color: #000000bf;
    padding: 32px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 45px;
    font-family: 'PT Serif', serif;
    color: white;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    gap: 1rem;
}

.simbolo {
    font-size: 35px;
    font-family: 'PT Serif', serif;
}

.img-logo {
    width: 18%;
    border-radius: 50%;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    text-transform: uppercase;
}

.menu .navbar ul li a {
    font-size: 12px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    padding: 6px 27px;
    color: wheat;
    display: block;
    letter-spacing: .1rem;
    transition: .5s;
}

.menu .navbar ul li a:hover {
    color: rgba(243, 189, 189, 0.856);
}

.navbar .active {
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 15px;
}

.navbar a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    transition: .5s;
}

.navbar a:hover span {
    transform: scale(1) translateY(0);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/*-------------------------------------------SECCION PRODUCTOS----------------------------------------------------*/

.seccion {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
    margin-top: 10rem;
}

.tit-bz {
    display: flex;
    padding-left: 12rem;
    letter-spacing: 1rem;
    color: #bb9797ab;
    font-size: 120px;
    text-shadow: -20px 30px 15px #898585;
}

.buzos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    column-gap: 3rem;
    padding-inline: 7rem;
    position: relative;
}

.tit-over {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 8rem;
    padding-right: 12rem;
    letter-spacing: 1rem;
    color: #bb9797ab;
    font-size: 120px;
    text-shadow: -20px 30px 15px #898585;
}

.over {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    column-gap: 3rem;
    padding-inline: 7rem;
    position: relative;
}

.tit-remeras {
    display: flex;
    padding-top: 8rem;
    padding-left: 12rem;
    letter-spacing: 1rem;
    color: #bb9797ab;
    font-size: 120px;
    text-shadow: -20px 30px 15px #898585;
}

.remeras {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    column-gap: 3rem;
    padding-inline: 7rem;
    position: relative;
}

.card {
	width: 180px;
	height: 260px;
	background: #fff;
	display: flex;
	align-items: flex-end;
	padding: 2rem 1rem;
	position: relative;
	transition: 0.5s all ease-in-out;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 5px 10px 6px 2px #433b3b;
}
.card:hover {
	transform: translateY(-10px);
}
.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(88, 88, 88, 0.548), rgba(231, 73, 73, 0.459));
	z-index: 2;
	opacity: 0;
	transition: 0.5s all;border: 1px solid white;
    border-radius: 20px;
}
.card:hover::before {
	opacity: 1;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
    border: 1px solid white;
    border-radius: 20px;
}
.card .info {
	position: relative;
	color: #fff;
	z-index: 3;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
}
.card:hover .info {
	opacity: 1;
	transform: translateY(0);
}

.card .info h1 {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
	line-height: 25px;
	margin-bottom: 10px;
}
.card .info p {
    font-family: 'poppins', sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.card .info .btns {
	background: #fff;
	padding: 0.5rem 1rem;
	color: #000;
	font-size: 12px;
	cursor: pointer;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
	transition: .4s ease-in-out;
}
.card .info .btns:hover {
	background: #a74343;
	color: #fff;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

.blank {
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.btn-buzo-jo {
    width: 6em;
    height: 3em;
    border: 1px solid #bb1616;
    outline: none;
    background-color: #856d6e;
    transition: 1s;
    border-radius: 1em;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
  
.btn-buzo-jo:hover {
    box-shadow: 4px 4px 15px 2px #856d6e;
}

/*----------------------------------------------SECCION GIFTCARD----------------------------------------------------*/

.conteiner__giftcard {
    padding-top: 4rem;
    padding-inline: 5rem;
    margin-top: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.titulo__gifcard {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .5rem;
    text-decoration: underline 1px solid white;
    font-size: 5rem;
    font-family: 'PT Serif', serif;
}

.parrafo {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: 'Yatra One', cursive;
    letter-spacing: .10rem;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid #000000;
    border-radius: 31px;
    box-shadow: 20px 20px 60px #695454, 11px 10px 15px 5px #ffffff;
    background-image: linear-gradient(99deg, rgb(93 92 92 / 0%), rgb(241 241 241 / 28%));
}


/*----------------------------------------------SECCION NOSOTROS----------------------------------------------------*/

.conteiner__nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.titulo__nosotros {
    color: white;
    text-decoration: underline 1px solid white;
    font-size: 5rem;
    font-family: 'PT Serif', serif;
}
        
.img__nosotros {
    filter: contrast(60%);
    border-radius: 25%;
    width: 1000px;
}

.contenido__principal {
    padding-top: 5rem;
    padding-inline: 14rem;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Yatra One', cursive;
}

/*----------------------------------------------SECCION CONTACTO----------------------------------------------------*/

.form__contacto {
    display: flex;
    text-align: center;
    margin-top: 3rem;
}

.contact {
    width: 50%;
}

.InfoContacto {
    color: white;
    padding: 6rem 5rem;
}

.contact h2 {
    font-family: 'PT Serif', serif;
    font-size: 4rem;
}

.contact p {
    border-bottom: 1px solid white;
    padding: 0.5rem 0 1rem 0;
    font-family: 'Yatra One', cursive;
    font-weight: 800;
}

.formulario {
    width: 50%;
}

.formulario h2 {
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    color: white;
    text-align: start;
}

.InfoForm {
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.InfoForm .form-colum {
    border-radius: .3rem;
    border: 1px solid black;
}

.form-colum {
    height: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8rem;
    padding-left: .5rem;
}

.btn {
    width: max-content;
    background-color: #252424;
    color: white;
    border: 1px solid white;
    font-size: 0.9rem;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    text-transform: uppercase;
}


/*----------------------------------------------------FOOTER----------------------------------------------------------*/

.ft-prod {
    margin-top: 15rem;
}

.footer-principal {
    margin-top: 5rem;
}

.ft-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem;
    gap: 10rem;
    border-top: 1px solid #413d3d;
    padding-top: 6rem;
}

.ft-container .descripcion {
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.footer-secundario {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-inline: 0px;
    padding-block: 10px;
}

.footer-secundario .footer-menu {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-secundario .footer-menu a {
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
    padding-left: 10px;
}

.footer-secundario .redes li {
    display: inline-block;
}

.footer-secundario .redes a{
    padding: 10px;
}

.footer-secundario .redes a img {
    height: 25px;
}

.footer-pagos {
    padding: 5px;
    height: 40px;
    margin-bottom: 50px;
}

/*----------------------------------Media Quaries Barra de Navegacion---------------------------------------------*/

@media screen and (max-width: 991px) {
    
/*--------First Mobile Pagina Inicio                        991px ------------*/ 
    
    .menu-entrada {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas:
        "titulo titulo"
        "productos giftcard"
        "nosotros contacto";
    }

    .titulo-marca {
        font-size: 3.5rem;
    }

/*--------First Mobile Barra Navegacion                     991px ------------*/
    .menu {
        padding-inline: 30px;
        padding-block: 15px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 47px 0;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #0a0a0a;
        display: none;
    }

    .navbar .active {
        border: none;
    }

    .navbar a span {
        border: none;
    }

    .menu .navbar ul li {
        width: 100%;
        padding-block: 1.5rem;
    }

    .menu .navbar ul li a {
        font-size: 25px
    }

    #menu:checked ~ .navbar {
        display: initial;
        height: 100vh;
        background: #000000e8;
        text-align: center;
        padding: 2rem;
    }

/*--------First Mobile Seccion Productos                        991px------------*/
    
    .buzos {
        padding-inline: 2rem;
    }

    .over580 {
        padding-inline: 9rem;
    }

    .remera580 {
        padding-inline: 9rem;
    }



/*--------First Mobile Seccion GiftCard                        991px------------*/

    .conteiner__giftcard {
        padding-top: 5rem;
        padding-inline: 0rem;
        margin: 2rem 5rem;
    }

/*--------First Mobile Seccion Nosotros                        991px------------*/

    .img__nosotros {
        width: 873px;
    }

    .contenido__principal {
        padding-inline: 6rem;
    }
}

@media screen and (max-width: 772px) {

/*--------First Mobile Pagina Inicio                          772px------------*/

    .titulo-marca {
        font-size: 3.5rem;
        animation: none;
        color: white;
        text-shadow: 11px 9px 6px black;
        letter-spacing: .4rem;
    }

/*--------First Mobile Seccion Productos                        772px------------*/
    
    .tit-bz {
        padding-left: 8rem;
        font-size: 90px;
    }

    .buzos {
        padding-inline: 5rem
    }

    .tit-over {
        padding-right: 3rem;
        font-size: 90px;
    }

    .over580 {
        padding-inline: 5rem;
    }

    .tit-remeras {
        padding-left: 5rem;
        font-size: 90px;
    }

    .remera580 {
        padding-inline: 5rem;
    }

/*--------First Mobile Seccion Nosotros                        772px------------*/

    .img__nosotros {
        width: 680px;
    }

    .contenido__principal {
        padding-inline: 3rem;
    }

/*--------First Mobile Seccion Contacto                        772px------------*/

    .contact h2 {
        font-size: 3rem;
    }


/*--------First Mobile FOOTER                                  772px------------*/
    
    .ft-container {
        gap: 2rem;
    }

    .ft-container .imagen {
        margin-inline: 1.6rem;
        width: 5rem;
    }    
}

@media screen and (max-width: 580px) {

    /*--------First Mobile Pagina Inicio                          580px------------*/
 
    .menu-entrada {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "titulo"
            "productos"
            "giftcard"
            "nosotros"
            "contacto";
    }

    .titulo-marca {
        font-size: 2.5rem;
        letter-spacing: .1rem;
        text-shadow: 8px 8px 7px #d5cdcd;
    }

    .titulo-inicio {
        box-shadow: 1px 1px 100px 70px inset #2b2727;
        background: repeating-linear-gradient(35deg, black, #635e5ecf 100px);
    }

    .menu-item {
        border: none;
        box-shadow: inset -4px 2px 10px 0px rgb(249 234 234);
        border-radius: 4%;
    }

    /*--------First Mobile Seccion Productos                        580px------------*/

    .tit-bz {
        padding-left: 8rem;
        font-size: 70px;
    }

    .buzos {
        padding-inline: 4rem
    }

    .tit-over {
        padding-right: 4rem;
        font-size: 80px;
    }

    .over580 {
        padding-inline: 4rem;
    }

    .tit-remeras {
        font-size: 80px;
    }

    .remera580 {
        padding-inline: 4rem;
    }





/*--------First Mobile Seccion GiftCard                        580px------------*/
    .conteiner__giftcard {
        margin: 2rem 4.5rem;
    }

    .titulo__gifcard {
        font-size: 3rem;
        padding-top: 3rem;
    }

/*--------First Mobile Seccion Nosotros                        580px------------*/

    .titulo__nosotros {
        font-size: 3rem;
        padding-top: 3rem;
    }

    .img__nosotros {
        width: 375px;
    }

    .contenido__principal {
        padding-inline: 55px;
    }

/*--------First Mobile Seccion Contacto                        580px------------*/
    .form__contacto {
        flex-direction: column;
    }

    .contact {
        width: 100%;
    }

    .formulario {
        width: 100%;
    }

    .InfoForm {
        padding: 0rem 4rem;
    }


/*--------First Mobile FOOTER                        580px------------*/

    .footer-principal {
        margin-top: 8rem
    }

    .ft-container {
        margin-top: 8rem;
        gap: 0rem;
    }

    .ft-container .imagen {
        margin-inline: 1.6rem;
        width: 5rem;
    }

    .ft-container .descripcion {
        font-size: .6rem;
    }

    .footer-lista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-secundario li > a {
        margin: 0;
        padding: 0;
        letter-spacing: .5rem;
    }

    .footer-pagos {
        padding: 1px;
        height: 25px;
    }
}

@media screen and (max-width: 580px) {
    
    .tit-bz{
        padding-left: 7rem;
        font-size: 70px;
    }

    .buzos {
        padding-inline: 2rem;
    }

    .tit-over {
        padding-right: 1rem;
        font-size: 80px;
    }

    .over580 {
        padding-inline: 2rem;
    }

    .tit-remeras {
        padding-left: 3rem;
        font-size: 80px;
    }

    .remera580 {
        padding-inline: 2rem;
    }
}